In [1]:
!pip install pandas

Requirement already satisfied: pandas in /srv/venv/lib/python3.5/site-packages
Requirement already satisfied: pytz>=2017.2 in /srv/venv/lib/python3.5/site-packages (from pandas)
Requirement already satisfied: numpy>=1.13.3 in /srv/venv/lib/python3.5/site-packages (from pandas)
Requirement already satisfied: python-dateutil>=2.6.1 in /srv/venv/lib/python3.5/site-packages (from pandas)
Requirement already satisfied: six>=1.5 in /srv/venv/lib/python3.5/site-packages (from python-dateutil>=2.6.1->pandas)

In [2]:
import pandas as pd

In [3]:
confirmed_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv"

In [4]:
confirmed = pd.read_csv(confirmed_url)
confirmed

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20
0,Anhui,Mainland China,31.8257,117.2264,1,9,15,39,60,70,...,990,990,990,990,990,990,990,990,990,NaN
1,Beijing,Mainland China,40.1824,116.4142,14,22,36,41,68,80,...,414,414,418,418,422,426,428,428,429,NaN
2,Chongqing,Mainland China,30.0572,107.8740,6,9,27,57,75,110,...,576,576,576,576,576,576,576,576,576,NaN
3,Fujian,Mainland China,26.0789,117.9874,1,5,10,18,35,59,...,296,296,296,296,296,296,296,296,296,NaN
4,Gansu,Mainland China,36.0611,103.8343,0,2,2,4,7,14,...,91,91,91,102,119,120,124,124,125,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,Saint Barthelemy,France,17.9000,-62.8333,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
400,NaN,Jamaica,18.1096,-77.2975,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
401,NaN,Reunion,-21.1151,55.5364,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
402,NaN,Turkey,38.9637,35.2433,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
403,Gibraltar,United Kingdom,36.1408,-5.3536,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0

In [5]:
confirmed.columns[:4]

Index(['Province/State', 'Country/Region', 'Lat', 'Long'], dtype='object')

In [6]:
tidy_confirmed = confirmed.melt(id_vars=confirmed.columns[:4], var_name='Date', value_name='Patients')
drop_mask = (tidy_confirmed['Patients'] != 0) & (tidy_confirmed['Patients'].notna())
tidy_confirmed = tidy_confirmed[drop_mask]

In [7]:
tidy_confirmed.dtypes

Province/State     object
Country/Region     object
Lat               float64
Long              float64
Date               object
Patients          float64
dtype: object

In [8]:
tidy_confirmed['Date'] = pd.to_datetime(tidy_confirmed['Date'])

In [9]:
tidy_confirmed

,Province/State,Country/Region,Lat,Long,Date,Patients
0,Anhui,Mainland China,31.8257,117.2264,2020-01-22,1.0
1,Beijing,Mainland China,40.1824,116.4142,2020-01-22,14.0
2,Chongqing,Mainland China,30.0572,107.8740,2020-01-22,6.0
3,Fujian,Mainland China,26.0789,117.9874,2020-01-22,1.0
5,Guangdong,Mainland China,23.3417,113.4244,2020-01-22,26.0
...,...,...,...,...,...,...
20195,Saint Barthelemy,France,17.9000,-62.8333,2020-03-11,1.0
20196,NaN,Jamaica,18.1096,-77.2975,2020-03-11,1.0
20197,NaN,Reunion,-21.1151,55.5364,2020-03-11,1.0
20198,NaN,Turkey,38.9637,35.2433,2020-03-11,1.0
20199,Gibraltar,United Kingdom,36.1408,-5.3536,2020-03-11,1.0

In [10]:
date_mask = (tidy_confirmed['Date'] > '2020-03-01') & (tidy_confirmed['Date'] <= '2020-03-31')

In [11]:
tidy_confirmed[date_mask]
# twice as slow for me but easier to read
# tidy_confirmed.query('Date > "2020-03-01" & Date <= "2020-03-31"')

,Province/State,Country/Region,Lat,Long,Date,Patients
16160,Anhui,Mainland China,31.8257,117.2264,2020-03-02,990.0
16161,Beijing,Mainland China,40.1824,116.4142,2020-03-02,414.0
16162,Chongqing,Mainland China,30.0572,107.8740,2020-03-02,576.0
16163,Fujian,Mainland China,26.0789,117.9874,2020-03-02,296.0
16164,Gansu,Mainland China,36.0611,103.8343,2020-03-02,91.0
...,...,...,...,...,...,...
20195,Saint Barthelemy,France,17.9000,-62.8333,2020-03-11,1.0
20196,NaN,Jamaica,18.1096,-77.2975,2020-03-11,1.0
20197,NaN,Reunion,-21.1151,55.5364,2020-03-11,1.0
20198,NaN,Turkey,38.9637,35.2433,2020-03-11,1.0
20199,Gibraltar,United Kingdom,36.1408,-5.3536,2020-03-11,1.0

In [14]:
tidy_confirmed[tidy_confirmed['Province/State'].str.contains('New York', na=False)]

,Province/State,Country/Region,Lat,Long,Date,Patients
16308,"New York County, NY",US,40.7128,-74.0060,2020-03-02,1.0
16712,"New York County, NY",US,40.7128,-74.0060,2020-03-03,1.0
17116,"New York County, NY",US,40.7128,-74.0060,2020-03-04,1.0
17520,"New York County, NY",US,40.7128,-74.0060,2020-03-05,4.0
17924,"New York County, NY",US,40.7128,-74.0060,2020-03-06,16.0
18328,"New York County, NY",US,40.7128,-74.0060,2020-03-07,11.0
18732,"New York County, NY",US,40.7128,-74.0060,2020-03-08,12.0
19136,"New York County, NY",US,40.7128,-74.0060,2020-03-09,19.0
19540,"New York County, NY",US,40.7128,-74.0060,2020-03-10,25.0
19636,New York,US,42.1657,-74.9481,2020-03-10,173.0
20040,New York,US,42.1657,-74.9481,2020-03-11,220.0